<app-search></app-search>
<table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">count</th>
      <th scope="col">bought</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name}}</td>
      <td>{{product.count}}</td>
      <td>{{product.bought}}</td>
    </tr>
    </tbody>
 
  </table>
     <!-- Jeśli pusta lista-->
     <div *ngIf="products?.length == 0" class="alert alert-warning" role="alert" style="text-align: center;">
      Nie znaleziono produktów
    </div>