<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" href="index.html"><img src="assets/images/logo.jpg"></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Użytkownicy</a>
        <a class="nav-link" href="#">Listy</a>
        <a class="nav-link" href="#">Produkty</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<div>
  <app-user-list></app-user-list>
  <app-shopping-list></app-shopping-list>
  <!--<app-product-category></app-product-category>-->
</div>

<footer>
  
</footer>
